|===
|Path|Type|Description|Optional|regexp

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}
ifeval::["{{optional}}"=="true"]
`*true*`
endif::[]
ifeval::["{{optional}}"=="false"]
`false`
endif::[]{{/tableCellContent}}
|{{#tableCellContent}}{{regexp}}{{/tableCellContent}}

{{/fields}}
|===